@import '~office-ui-fabric-react/dist/sass/References.scss';

.displayCollection {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .grid {
    @include ms-Grid;
  }

  .row {
    @include ms-Grid-row;
  }
  .mslg3 {
    @include ms-lg4;
    display: block;
  }
  .mslg12 {
    @include ms-lg12;
  }
  .column {
    @include ms-Grid-col;
  }

  .filters {
    .filter {
        padding-top: 0px;
        padding-bottom: 15px;
    }
    .searchBox {
        padding-top: 0px;
        padding-bottom: 15px;
        .searchBoxInputField {
            padding: 0px;
        }
    }
  }

  .filterContainer {
    display: flex;
    justify-content: space-between;
  }

  .pagination {
    .pager {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
        list-style: none;
        li {
            display: inline;
            padding: 0px 10px;
            button {
                display: inline-block;
                padding: 5px 14px;
                background-color: $ms-color-themePrimary;
                border: 1px solid #ddd;
                border-radius: 15px;
                color: #fff;
                text-decoration: none;
                &:disabled {
                    background-color: $ms-color-neutralTertiary;
                }
            }
        }
    }
  }

  .status{
    float:left
  }

  .filterColumnStyle{
    margin-top: 0px;
    width: 218px;
  }

  .filterOptionsStyle{
    margin-top: 0px;
    width: 200px;
  }

  .dateSortStyle{
    // margin:10px;
    margin-top: 0px;
    width: 200px;
  }

  .choiceFieldStyle{
    div {
      margin: 1px; 
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  .filterLabel{
    display:'flex';
    margin: 0; 
    margin-left: 9px; 
    font-weight: 600;
    margin-top: 10px;
    padding-top: 5px;
    margin-bottom: 3px;
  }

  .searchBarStyle{
    margin:10px;
    width: 300px;
  }

  .panel {
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    .panelBody {
        padding: 15px 0px;
    }
  }

}


